@import url(//fonts.googleapis.com/css?family=Noto+Sans);
$main_color : rgb(255,120,70); /* rooftop color */
$signin_color : rgb(235,70,70);
$signin_hover : rgb(168,45,45);
$fb_color: rgb(44,67,140);
$fb_hover: rgb(31,51,102);


/* GLOBAL STYLES -------------------------------------------------- */


.row {
  margin-left:0px;
  margin-right:0px;
}

body {
  color: black;
  font-family: 'Noto Sans', sans-serif;
  // overflow-y:hidden; // 스크롤 없애기
}

footer {
  font-size:12px;
  position:fixed;
  bottom:20px;
  left:50%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%);/* Chrome, Safari, Opera */
  -o-transfrom: translateX(-50%);
  transform:translateX(-50%);
}

a,
a:hover,
a:focus,
a:active,
a.active {
  text-decoration: none;
}

a {
  color: $main_color;
}

a:hover {
  color:black;
}

::selection {
  background: $main_color;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
  background: $main_color;
  color: #FFF;
  text-shadow: none;
}
::-webkit-selection {
  background: $main_color;
  color: #FFF;
  text-shadow: none;
}

textarea:focus, input:focus, button:focus{
    outline: 0;
}



/* home/index.erb --------------------------------------------------- */

.logo {
  text-align:center;
  margin-top:80px;
  width:100%;
}

.logo img {
    width:300px;
  }

#index_bg {
    width:100%;
    position:absolute;
    text-align:center;
    z-index:-99;
    top:500px;
}

#index_bg img {
    position:relative;
    width:150%;
    left:50%;
    top:0px;
    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%);/* Chrome, Safari, Opera */
    -o-transfrom: translateX(-50%);
    transform:translateX(-50%);
}

.box_title {
  text-align:center;
  color:white;
  font-size: 20px;
  margin-bottom: 20px;
}

.new_user {
    top: 30px;
    position: relative;
    background-color: $main_color;
    
    padding: 30px 19px 20px 19px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
}

.new_user > a {
  color:white;
  float:right;
}

.new_user > a:hover {
  color:black;
}

.input_box {
  margin-top:5px;
}

.input_box > input {
  width:100%;
  height:40px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  padding-left: 5px;
  // margin-top:5px;
}

.field_with_errors > input {
  width:100%;
  height:40px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  padding-left: 5px;
}

.actions > input {
    width:100%;
    height:40px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    background-color: $signin_color;
    color:white;
    margin-top:10px;
}

.actions > input:hover {
    background-color: $signin_hover;
    border-top: 8px solid black;
    border-left: 8px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

.fb_login {
    width:100%;
    height:40px;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 8px solid black;
    border-bottom: 8px solid black;
    background-color: $fb_color;
    margin-top:5px;
    color:white;
    line-height:30px;
    text-align:center;
}

.fb_login:hover {
    background-color: $fb_hover;
    border-top: 8px solid black;
    border-left: 8px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
}

/* autofill background-color : white! (not yellow) */
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}



/* home/_nav.erb --------------------------------------------------- */
nav {
  // position:relative;
  // left:50%;
  // -ms-transform: translateX(-50%); /* IE 9 */
  // -webkit-transform: translateX(-50%);/* Chrome, Safari, Opera */
  // -o-transfrom: translateX(-50%);
  // transform:translateX(-50%);
  // width:100%;
  height:50px;
  border-bottom: 1px solid $main_color;
  line-height:50px;
  margin: 5px;
  
}

.nav_head {
  padding-left:50px;
}

.nav_li {
  padding-right:50px;
}

.nav_li #navbar {
  float:right;
}

.navbar-nav li a:hover {
  background-color:transparent;
}
.navbar-nav li a:active {
  background-color:transparent;
}
.navbar-nav li a:focus {
  background-color:transparent;
}


.nav_nick {
  cursor:pointer;
  color: $main_color;
}

.nav_nick:hover {
  color:black;
}

.nav_nick ul {
  display:none;
  text-decoration: none;
  float : right;
  position:absolute;
}

.nav_nick ul li {
  text-decoration: none;
}

.nav_nick:hover ul {
  display:block;
 
}

.nav_panel {
  background-color:$main_color;
  float:right;
  width:250px;
  right:0px;
  padding:10px;
  line-height:45px;
  z-index:15;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}

.input_nick {
  width:100%;
  height:40px;
  line-height:40px;
  color:black;
  text-align : center;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}

.button_nick {
  width:100%;
  height:40px;
  line-height:25px;
  margin-top:5px;
  background-color:$signin_color;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  color:white;
}

.button_nick:hover {
  background-color:$signin_hover;
  
  border-top: 8px solid black;
  border-left: 8px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}



/* modal window --------------------------------------------------- */
.modal-content {
  border-radius : 0px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  background-color:$main_color;
  color:white;
}



/* home/page.erb --------------------------------------------------- */

.user_link {
  position:relative;
  left:50%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%);/* Chrome, Safari, Opera */
  -o-transfrom: translateX(-50%);
  transform:translateX(-50%);
  text-align:center;
  border:0px;
  background-color:transparent;
  margin: 20px 0 30px 0;
}

.user_link span {
  background-color:$main_color;
  color:white;
  font-size:30px;
}


/* link copied modal */
.modal-body {
  text-align:center;
}

.modal-title {
  text-align:left;
}

.modal-header {
  border:0;
}

.modal-footer {
  border:0;
}

/* close button */
.closeX {
  float: right;
  font-size: 15px;
  color: black;
  margin-top: -2px;
  line-height:1;
  background-color:white;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 6px solid black;
  border-bottom: 6px solid black;
  color:black;
}

.closeX:hover {
  border-top: 6px solid black;
  border-left: 6px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.cont_stage {
  display: inline-block;
  position: relative;
  width: 17%;
  padding-top: 31.5%;
  background-color: $main_color;
  overflow: hidden;
  &:hover {
    img {
      display: none;
    }
    .cont__replies {
      display: block;
    }
  }
  .cont__replies {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
}

.cont_stage:hover .cont_box{
  display: block;
}


.cont_stage:hover .cont_txt_output {
  display:block;
}

.img_div {
    position:absolute;
    width:100%;
    height:100%; 
    left:0;
    top:0;
    overflow:hidden;
}

.cont_stage .img_div img {
  position: absolute;
  /****/
  left:50%;
  -ms-transform: translateX(-50%); /* IE 9 */
  -webkit-transform: translateX(-50%);/* Chrome, Safari, Opera */
  -o-transfrom: translateX(-50%);
  transform:translateX(-50%);
  overflow:hidden;
  /****/
}


.cont_box {
  z-index:6;
  position:absolute;
  width:100%;
  height:100%;
  padding:20px;
  left:0;
  top:0;
  // background-color: rgba(255,255,255,0.8);
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  display:none;
}

.cont_txt_input {
  width: 100%;
  height: 60vh;
  padding: 10px;
  text-align: left;
  color:black;
}

.button_red {
  width:100%;
  height:40px;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  padding-left: 5px;
  background-color:$signin_color;
}

.button_red:hover {
  border-top: 8px solid black;
  border-left: 8px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  background-color:$signin_hover;
}

.cont_txt_output {
  width: 100%;
  height: 100%;
  padding: 10px;
  position:absolute;
  top:0px;
  text-align: left;
  display: none;
  color:white;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  
}


.comment_box {
  color:black;
  width:100%;
}


.input_comment {
  height:40px;
  line-height:40px;
  color:black;
  text-align : center;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
}

.button_comment {
  height:40px;
  line-height:25px;
  background-color:$signin_color;
  border-top: 4px solid black;
  border-left: 4px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  color:white;
  // background-image: url(http://rooftop-ghanhanhan-1.c9.io/sources/ico_P2.png);
}

.button_comment:hover {
  background-color:$signin_hover;
  
  border-top: 8px solid black;
  border-left: 8px solid black;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
}


/* fb_cover modal */
.fbcover {
  width:200px;
  float:center;
}

.dropzone {
  width:300px;
  height:300px;
  border:none;
  background-color:transparent;
  color:black;
  border: 8px dashed black;
}



/* RESPONSIVE CSS -------------------------------------------------- */

@media (min-width: 768px) {
  #index_bg {
    top:0px;
  }
  #index_bg img {
    width:100%;
  }
  .logo img {
    width:400px;
  }
}

@media (min-width: 992px) {
  
}




#flip {
    text-align: center;
    background-color: transparent;
}

#panel {
    display: none;
}
